*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    z-index: 10;
    background-color: rgb(255, 105, 0);
    width: 100%; 
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    color: white;
}

.nav-menu{
    height: 4em; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.menu-list{
    display: flex;
}

.menu-link{
    text-decoration: none;
    color: white;
    margin: 0 0.3em;
}

.menu-list li{
    list-style: none;
}

.logo{
    width: 10%;
}

.main-container{
    max-width: 1400px;
    margin:auto;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: calc(33.33% - 2rem);
    padding: 0 1rem 2rem;
    position: relative;
}

.item-top{
    margin-top: 7rem;
}

.item p{
    line-height: 1rem;
}

.brand{
    font-size: 13px;
}

.description{
    font-weight: 700;
}

.price{
    color: red;
}

.sale{
    color: grey;
    text-decoration: line-through;
}

.red-block{
    position: absolute;
    left: 16px;
    bottom: 130px;
    background-color: red;
    font-size: 13px;
    padding: 0.2rem 0.5rem;
    color: white;  
}

.green-block{
    position: absolute;
    left: 70px;
    bottom: 130px;
    background-color: green;
    font-size: 13px;
    padding: 0.2rem 0.5rem;
    color: white;
}

.cuore{
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 27px;
    background-color: white;
    padding: 0 0.4em;
}

.item:hover .cuore {
    color: red;
}

.hoverable{
    width: 100%;
}

.hover{
    width:100%;
    display: none;
}

.item:hover .hoverable{
    display: none;
}

.item:hover .hover{
    display: inline-block;
}

